/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*			 */
/* style.css */
/*			 */

body {
	color: #000;
	font: "serif 12px";
}

.container {
	position: absolute;
	width: 100vw;
	height: 100vh;

	background-color: #eee;
}

/* Label */

#Label {
	position: absolute;

	padding: 5px;

	width: 120px;
	height: 46px;

	overflow: hidden;
	text-overflow:ellipsis;
}

#Test
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; /* Thanks to Herb Caudill comment */
}

.input-area {
	position: absolute;

	top: 50vh;
}


/* Image */
#Image {
	position: absolute;

	width: 120px;
	height: 100px;
}

#Image-Container {
	position: absolute;

	overflow: hidden;

	width: 120px;
	height: 100px;
}

#Image-Image {
	position: absolute;
}


/* View */

.Autolayout-View-View {
	position: absolute;

	resize: both;
	/*overflow: hidden;*/

	width: 50px;
	height: 50px;

	background-color: #fff;
}

.View-Resize-Button {
	position: fixed;

	display: none;

	width: 5px;
	height: 5px;

	font-size: 1px;
    background: #EEE;
    border: 1px solid #333;
}
.View-Resize-Button-TL {
	top: -7px;
	left: -7px;
	cursor: nw-resize;
}
.View-Resize-Button-TR {
	top: -7px;
	right: -7px;
	cursor: ne-resize;
}
.View-Resize-Button-BL {
	bottom: -7px;
	left: -7px;
	cursor: sw-resize;
}
.View-Resize-Button-BR {
	/*
	position: absolute;
	bottom: -7px;
	right: -7px;
	*/
	/*position: fixed;*/
	cursor: se-resize;
}



/* Button */

.Autolayout-View-Button {
	position: absolute;

	resize: both;
	/*overflow: hidden;*/

	text-align: center;
	line-height: 20px;

	width: 50px;
	height: 20px;

	/*background-color: #fff;*/
	/*border: 1px solid #000;*/
	/*border-radius: 5px;*/
}

/* Image */

.Autolayout-View-Image {
	position: absolute;

	overflow: hidden;

	width: 120px;
	height: 100px;
}

.View-Content-Image {
	position: absolute;
}

/* Label */

.Autolayout-View-Label {
    position: absolute;
    /*visibility: hidden;*/
    width: 45px;
    height: 15px;
    white-space: nowrap;
}

