.Autolayout-View-View {
	position: absolute;

	resize: both;
	/*overflow: hidden;*/

	width: 50px;
	height: 50px;

	background-color: #fff;
}

.View-Resize-Button {
	position: fixed;

	display: none;

	width: 5px;
	height: 5px;

	font-size: 1px;
    background: #EEE;
    border: 1px solid #333;
}
.View-Resize-Button-TL {
	top: -7px;
	left: -7px;
	cursor: nw-resize;
}
.View-Resize-Button-TR {
	top: -7px;
	right: -7px;
	cursor: ne-resize;
}
.View-Resize-Button-BL {
	bottom: -7px;
	left: -7px;
	cursor: sw-resize;
}
.View-Resize-Button-BR {
	/*
	position: absolute;
	bottom: -7px;
	right: -7px;
	*/
	/*position: fixed;*/
	cursor: se-resize;
}



/* Button */

.Autolayout-View-Button {
	position: absolute;

	resize: both;
	/*overflow: hidden;*/

	text-align: center;
	line-height: 20px;

	width: 50px;
	height: 20px;

	/*background-color: #fff;*/
	/*border: 1px solid #000;*/
	/*border-radius: 5px;*/
}

/* Image */

.Autolayout-View-Image {
	position: absolute;

	overflow: hidden;

	width: 120px;
	height: 100px;
}

.View-Content-Image {
	position: absolute;
}

/* Label */

.Autolayout-View-Label {
    position: absolute;
    /*visibility: hidden;*/
    width: 45px;
    height: 15px;
    white-space: nowrap;
}

