.mark cm{
    display: block;
}
.first-mark cm{
    display: block;
    background-color:rgba(169, 25, 60, 0.4);
    cursor: not-allowed;
}

.AL-Layer-List {
	padding: 10px;
}
.AL-Layer-Item {
	color: #34495e;
	padding: 5px 10px;
	border: 1px solid #eee;
}

.AL-Layer-Selected {
	border: 1px solid #42b983;
}